h1{
font-family: 'Akaya Kanadaka', cursive;
}
#login{
  margin: 20px;
}
h2{
  color: #f5d98e;
}
#font{
  font-family: 'Akaya Kanadaka', cursive;
font-family: 'Josefin Sans', sans-serif;
}
.footer{
  background-color: #a6a49f;
}
#h22{
  color: black;
}
